heroku buildpacks:set heroku/python
requests==2.31.0
selenium-webdriver==4.11.2 
pandas==2.0.3
numpy==1.25
sqlite==3.42.0
BeautifulSoup4==4.12.2 
strings==0.1.2
regex==2023.8.8
Py-OS==1.0.0
python-time==0.3.0
python-math==0.0.1
